@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    @apply hidden /* for Chrome, Safari, and Opera */;
  }
}

.fs-homepage {
  .hero {
    .heroline-wrapper {
      bottom: 5%;
      right: auto;
      left: 50%;
      transform: translate(-50%,-10%);
    }
  }
  &.cats {

  }
  .catcontent {
    transform: translateY(-15%);
    .cat-wrapper {
      bottom: 5%;
      right: auto;
      left: 50%;
      transform: translate(-50%,-10%);
    }
  }
}
